<header class='header'>
  <div class='header_bar'>
    <h1 class='grid-6'>
      <a href='/'>100lists</a>
    </h1>
    <% if user_signed_in? %>
      <div class='grid-6'>
        <%= link_to "マイページ", user_path(current_user), class: 'post' %>
        <%= link_to 'リストを追加する', category_questions_path %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post' %>
      </div>
    <% else %>
      <div class='grid-6'>
        <%= link_to "ログイン", new_user_session_path, class: 'post' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
      </div>
    <% end %>
  <div>
</header>
  